/* Color  */
$white: #fff;
$black: #000;
$text: #000;

$blackDark: #1D1D1D;
$grayPrimary: #f2f2f4;
$grayBody: #8F8F8F;
$grayHeading: #4C4C4C;
//979797

/* Border */
$greyBorderSmall: 1px solid #8F8F8F;
$grayBorder: #f2f2f4;

/* Size */
$gutter: 20px;

$max-width: 1250px;
$column: 90px;
$gutter: 10px;
/* Fonts */
$fontBold: "Proxima Nova Bold", Arial, sans-serif;
$fontMedium: "Proxima Nova Semi-Bold", Arial, sans-serif;
$fontRegular: "Proxima Nova Regular", Arial, sans-serif;
$fontLight: "Proxima Nova Light", Arial, sans-serif;
