/* Color  */
$white: #fff;
$black: #000;
$text: #000;


/* Border */
$greyBorderSmall: 1px solid #ebebeb;

/* Size */
$gutter: 20px;

$max-width: 1250px;
$column: 90px;
$gutter: 10px;
/* Fonts */
$fontBlack: "robotoblack", Arial, sans-serif;
$fontBold: "robotobold", Arial, sans-serif;
$fontMedium: "robotomedium", Arial, sans-serif;
$fontRegular: "robotoregular", Arial, sans-serif;
$fontLight: "robotolight", Arial, sans-serif;
$fontThin: "robotothin", Arial, sans-serif;
