/* Color  */
$white: #fff;
$black: #000;
$text: #666;

$primaryBlack: #191d20;
$grayPrimary: #f2f2f4;
$grayBody: #8F8F8F;
$grayHeading: #4C4C4C;

$gold: #F1C40F;
$goldDark: #BB9C00;

$primaryGray: #616666;
//979797

/* Border */
$greyBorderSmall: 1px solid #8F8F8F;
$grayBorder: #f2f2f4;

/* Size */
$gutter: 20px;

$max-width: 1250px;
$column: 90px;
$gutter: 10px;
/* Fonts */
$fontBold: "Proxima Nova Bold", Arial, sans-serif;
$fontMedium: "Proxima Nova Semi-Bold", Arial, sans-serif;
$fontRegular: "Proxima Nova Regular", Arial, sans-serif;
$fontLight: "Proxima Nova Light", Arial, sans-serif;
$fontBody: 'Helvetica Neue',Helvetica,Arial,sans-serif;
