// These styles will take priority
.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

.relative {
    position: relative;
}

.toggle {
    cursor: pointer;
}

.transition {
    transition: all 100ms ease-in-out;
}

.bottom-border {
    border-bottom: 1px solid #e2e2e2;
}

.hide-small {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.hide-large {
    display: block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.hide-small-to-medium {
    display: none;
    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.trigger {
    cursor: pointer;
}

.hide {
    display: none;
}

// Background-Extend just add background-color
.column-extend-full {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 120%;
        height: 100%;
        display: block;
        left: -10%;
        z-index: -1;
    }
}

// Show/Hide
[class^="show-at"] {
    display: none;
}
.show-at-small {
  display: block;
  @include media('>=large') {
  display: none;
  }
}

.show-at-large {
  display: none;
  @include media('>=large') {
  display: block;
  }
}
