header {
  padding: 10px 0;
  width: 100%;
  background-color: $primaryBlack;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
}

.site {
  display: flex;
  align-items: center;
}

.site_logo {
  width: 25px;
  @include media('>=large') {
    width: 40px;
  }
}

.site_tagline {
  padding-left: 5px;
  @include media('>=large') {
    padding-left: 10px;
  }
}

.nav {
  display: flex;
}

.nav_list {
  list-style: none;
  padding: 0 10px;
}

.nav_link {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: $primaryGray;
  &:hover {
    color: $white;
  }
}
