.work {
  box-shadow: 0 0 30px rgba(0,0,0,.05);
  height: 100%;
}
.band {
  border-bottom: 1px solid $grayBorder;
  background: $white;
  overflow: hidden;
  position: relative;
  transition:  1s ease-in-out;
  background-size: cover;
  background-position: center, center;
  color: $white;
  height: 100%;



  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primaryBlack, .5);;
    transform-origin: right;
    transition: width 200ms ease-in-out;
    z-index: 1;
  }
  &:hover {
    .band_title {
      opacity: 1;
    }
     .band_desc {
       opacity: 0.8;

    }
    &:after {
      background-color: rgba($primaryBlack, 0);;
    }
  }
}
.band_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
  z-index: 2;
  @include media('>=large') {
    height: 100%;
  }

  &--even {
    flex-direction: row-reverse;
    text-align: right;
  }
  &--odd {
    flex-direction: row;
  }
}
.band_content {
  width: 80%;
  @include media('>=large') {
    width: 40%;
  }
}
.band_title {
  color: $white;
  opacity: .5;
}
.band_desc {
  color: rgba($grayHeading, 0.7);
}
