/*
*************************************************

Screen Styles

Created by Paul Phan
http://www.MrPaulPhan.com/

*************************************************
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color  */
/* Border */
/* Size */
/* Fonts */
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semi-Bold';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
}

.alpha {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.alpha--l {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  font-size: 24px;
}

@media (min-width: 750px) {
  .alpha--l {
    font-size: 32px;
  }
}

.beta {
  font-family: "Proxima Nova Semi-Bold", Arial, sans-serif;
  font-size: 18px;
}

@media (min-width: 750px) {
  .beta {
    font-size: 22px;
  }
}

.gamma {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 750px) {
  .gamma {
    font-size: 18px;
    line-height: 22px;
  }
}

.gamma--s {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
  font-size: 14px;
}

@media (min-width: 750px) {
  .gamma--s {
    font-size: 16px;
  }
}

.longform {
  margin-top: 20px;
  padding-bottom: 20px;
  color: #000;
}

.longform p {
  color: #000;
}

.page--header {
  padding-top: 50px;
}

.page {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 750px) {
  .page {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding: 35px 0;
}

@media (min-width: 750px) {
  .section {
    padding: 50px 0;
  }
}

body:before {
  display: block;
  position: fixed;
  z-index: 999999;
  bottom: 0;
  right: 0;
  padding: 0.5em 1em;
  content: 'No Media Query';
  color: rgba(255, 255, 255, 0.75);
  border-top-left-radius: 10px;
  font-size: 0.75em;
}

@media screen and (min-width: 320px) {
  body:before {
    content: 'xsmall';
  }
  body:before,
  body:after {
    background: dodgerblue;
  }
}

@media screen and (min-width: 400px) {
  body:before {
    content: 'small';
  }
  body:before,
  body:after {
    background: darkseagreen;
  }
}

@media screen and (min-width: 500px) {
  body:before {
    content: 'medium';
  }
  body:before,
  body:after {
    background: lightcoral;
  }
}

@media screen and (min-width: 750px) {
  body:before {
    content: 'large';
  }
  body:before,
  body:after {
    background: mediumvioletred;
  }
}

@media screen and (min-width: 850px) {
  body:before {
    content: 'mlarge';
  }
  body:before,
  body:after {
    background: hotpink;
  }
}

@media screen and (min-width: 950px) {
  body:before {
    content: 'xlarge';
  }
  body:before,
  body:after {
    background: orangered;
  }
}

@media screen and (min-width: 1100px) {
  body:before {
    content: 'xxlarge';
  }
  body:before,
  body:after {
    background: dodgerblue;
  }
}

@media screen and (min-width: 1100px) and (min-width: 1300px) {
  body:before {
    content: 'xxxlarge';
  }
  body:before,
  body:after {
    background: darkseagreen;
  }
}

@media screen and (min-width: 1100px) and (min-width: 1400px) {
  body:before {
    content: 'xxxlarge';
  }
  body:before,
  body:after {
    background: lightcoral;
  }
}

html {
  box-sizing: border-box;
  background: #fff;
}

body,
html {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body[data-noscroll='true'] {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

abbr[title] {
  border-bottom: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row img {
  width: 100%;
}

.row_layout-c-i .row_block:first-child {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 50%;
  padding: 0 5px;
}

.row_layout-c-i .row_block:last-child {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
  padding: 0 5px;
}

.row_layout-i-c .row_block:first-child {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
  padding: 0 5px;
}

.row_layout-i-c .row_block:last-child {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 50%;
  padding: 0 5px;
}

.row_block--split {
  width: 50%;
  padding: 0 5px;
}

.spacing > * + * {
  margin-top: 10px;
}

@media (min-width: 750px) {
  .spacing > * + * {
    margin-top: 15px;
  }
}

.spacing--half > * + * {
  margin-top: 5px;
}

@media (min-width: 750px) {
  .spacing--half > * + * {
    margin-top: 7.5px;
  }
}

.icon_menu {
  height: 100%;
  width: 20px;
  cursor: pointer;
}

.icon_menu path {
  fill: #fff;
}

header {
  background-color: #1D1D1D;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #8F8F8F;
}

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_logo {
  width: 25px;
}

@media (min-width: 750px) {
  .site_logo {
    width: 40px;
  }
}

.site_tagline {
  padding-left: 5px;
}

@media (min-width: 750px) {
  .site_tagline {
    padding-left: 10px;
  }
}

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav_list {
  list-style: none;
  padding: 0 10px;
}

.nav_link {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.hero {
  max-height: 500px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.hero--home {
  background: #1D1D1D;
}

.hero_image {
  display: none;
}

@media (min-width: 750px) {
  .hero_image {
    display: block;
    width: 100%;
  }
}

.hero_content {
  width: 100%;
}

@media (min-width: 750px) {
  .hero_content {
    position: absolute;
    width: 50%;
    top: 25%;
    bottom: 25%;
  }
}

.hero_content--left {
  left: 0;
  text-align: left;
}

.hero_content--right {
  right: 0;
  text-align: left;
}

.hero_content--center {
  text-align: center;
  right: 25%;
  left: 25%;
}

.hero_title {
  color: #fff;
}

.hero_body {
  color: #fff;
}

.hero_body--home {
  color: #8F8F8F;
}

.work {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.band {
  border-bottom: 1px solid #f2f2f4;
  background: #fff;
  overflow: hidden;
  position: relative;
  transition: 1s ease-in-out;
}

.band:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  transition: width 200ms ease-in-out;
  z-index: 1;
}

.band:hover .band_title, .band:hover .band_desc {
  color: #fff;
}

.band:hover:after {
  width: 0%;
}

.band_inner {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 125px;
  text-decoration: none;
  color: inherit;
  z-index: 2;
}

@media (min-width: 750px) {
  .band_inner {
    min-height: 200px;
  }
}

.band_content {
  width: 80%;
}

@media (min-width: 750px) {
  .band_content {
    width: 40%;
  }
}

.band_title {
  color: #4C4C4C;
}

.band_desc {
  color: rgba(76, 76, 76, 0.7);
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.toggle {
  cursor: pointer;
}

.transition {
  transition: all 100ms ease-in-out;
}

.bottom-border {
  border-bottom: 1px solid #e2e2e2;
}

.hide-small {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-small {
    display: block;
  }
}

.hide-large {
  display: block;
}

@media screen and (min-width: 768px) {
  .hide-large {
    display: none;
  }
}

.hide-small-to-medium {
  display: none;
}

@media screen and (min-width: 1024px) {
  .hide-small-to-medium {
    display: block;
  }
}

.trigger {
  cursor: pointer;
}

.hide {
  display: none;
}

.column-extend-full {
  position: relative;
}

.column-extend-full:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  display: block;
  left: -10%;
  z-index: -1;
}

[class^="show-at"] {
  display: none;
}

.show-at-small {
  display: block;
}

@media (min-width: 750px) {
  .show-at-small {
    display: none;
  }
}

.show-at-large {
  display: none;
}

@media (min-width: 750px) {
  .show-at-large {
    display: block;
  }
}
