/*
*************************************************

Screen Styles

Created by Paul Phan
http://www.MrPaulPhan.com/

*************************************************
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color  */
/* Border */
/* Size */
/* Fonts */
/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #de935f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #b5bd68;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #81a2be;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #b294bb;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semi-Bold';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
}

.alpha {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.alpha--s {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  font-size: 18px;
}

@media (min-width: 750px) {
  .alpha--s {
    font-size: 20px;
  }
}

.alpha--m {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  font-size: 22px;
}

@media (min-width: 750px) {
  .alpha--m {
    font-size: 28px;
  }
}

.alpha--l {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  font-size: 24px;
}

@media (min-width: 750px) {
  .alpha--l {
    font-size: 38px;
  }
}

.alpha--xl {
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  font-size: 24px;
}

@media (min-width: 750px) {
  .alpha--xl {
    font-size: 48px;
  }
}

.beta {
  font-family: "Proxima Nova Semi-Bold", Arial, sans-serif;
  font-size: 18px;
}

@media (min-width: 750px) {
  .beta {
    font-size: 22px;
  }
}

.gamma {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 750px) {
  .gamma {
    font-size: 18px;
    line-height: 32px;
  }
}

.gamma--xs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 20px;
}

@media (min-width: 750px) {
  .gamma--xs {
    font-size: 12px;
    line-height: 30px;
  }
}

.gamma--s {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: 750px) {
  .gamma--s {
    font-size: 16px;
    line-height: 30px;
  }
}

.delta {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
  font-size: 18px;
}

@media (min-width: 750px) {
  .delta {
    font-size: 22px;
  }
}

.delta--xs {
  font-family: "Proxima Nova Regular", Arial, sans-serif;
  font-size: 14px;
}

@media (min-width: 750px) {
  .delta--xs {
    font-size: 16px;
  }
}

.content--header {
  padding-top: 50px;
}

.content {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 750px) {
  .content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding: 35px 0;
}

@media (min-width: 750px) {
  .section {
    padding: 50px 0;
  }
}

.section--small {
  padding: 35px 0;
}

@media (min-width: 750px) {
  .section--small {
    padding: 35px 0;
  }
}

body:before {
  display: block;
  position: fixed;
  z-index: 999999;
  bottom: 0;
  right: 0;
  padding: 0.5em 1em;
  content: 'No Media Query';
  color: rgba(255, 255, 255, 0.75);
  border-top-left-radius: 10px;
  font-size: 0.75em;
}

@media screen and (min-width: 320px) {
  body:before {
    content: 'xsmall';
  }
  body:before,
  body:after {
    background: dodgerblue;
  }
}

@media screen and (min-width: 400px) {
  body:before {
    content: 'small';
  }
  body:before,
  body:after {
    background: darkseagreen;
  }
}

@media screen and (min-width: 500px) {
  body:before {
    content: 'medium';
  }
  body:before,
  body:after {
    background: lightcoral;
  }
}

@media screen and (min-width: 750px) {
  body:before {
    content: 'large';
  }
  body:before,
  body:after {
    background: mediumvioletred;
  }
}

@media screen and (min-width: 850px) {
  body:before {
    content: 'mlarge';
  }
  body:before,
  body:after {
    background: hotpink;
  }
}

@media screen and (min-width: 950px) {
  body:before {
    content: 'xlarge';
  }
  body:before,
  body:after {
    background: orangered;
  }
}

@media screen and (min-width: 1100px) {
  body:before {
    content: 'xxlarge';
  }
  body:before,
  body:after {
    background: dodgerblue;
  }
}

@media screen and (min-width: 1100px) and (min-width: 1300px) {
  body:before {
    content: 'xxxlarge';
  }
  body:before,
  body:after {
    background: darkseagreen;
  }
}

@media screen and (min-width: 1100px) and (min-width: 1400px) {
  body:before {
    content: 'xxxlarge';
  }
  body:before,
  body:after {
    background: lightcoral;
  }
}

html {
  box-sizing: border-box;
  background: #fff;
}

body,
html {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body[data-noscroll='true'] {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

abbr[title] {
  border-bottom: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.longform .meta {
  color: #BB9C00;
}

.longform p {
  color: rgba(102, 102, 102, 0.8);
}

.longform p a {
  border-bottom: 2px solid #BB9C00;
}

.longform p strong {
  font-weight: bold;
  color: #000;
}

.longform p li {
  list-style: circle;
}

.longform p del {
  color: red;
}

.longform blockquote {
  font-style: italic;
  color: #666;
  padding: 10px;
}

.longform img {
  width: 100%;
}

.longform code {
  line-height: 26px;
  padding: 10px;
  font-family: arial;
}

.tag {
  color: #868686;
  background: #e9e9e9;
  padding: 5px 7px;
  display: inline-block;
  margin: 5px 5px 0 0;
  text-transform: uppercase;
}

.tag:hover {
  color: #e9e9e9;
  background: #868686;
}

@media (min-width: 750px) {
  .longform_row--wide {
    width: 70%;
    margin: 0 auto;
  }
}

.longform_row--full {
  min-height: 400px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

@media (min-width: 750px) {
  .longform_row {
    margin: 0 auto;
    width: 60%;
  }
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 750px) {
  .row {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.row img {
  width: 100%;
}

.row_layout-c-i .row_block:first-child {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 5px;
  width: 100%;
}

@media (min-width: 750px) {
  .row_layout-c-i .row_block:first-child {
    width: 50%;
    padding-right: 40px;
  }
}

.row_layout-c-i .row_block:last-child {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 5px;
  width: 100%;
}

@media (min-width: 750px) {
  .row_layout-c-i .row_block:last-child {
    width: 50%;
  }
}

.row_layout-i-c .row_block:first-child {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 5px;
  width: 100%;
}

@media (min-width: 750px) {
  .row_layout-i-c .row_block:first-child {
    width: 50%;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.row_layout-i-c .row_block:last-child {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 5px;
  width: 100%;
}

@media (min-width: 750px) {
  .row_layout-i-c .row_block:last-child {
    width: 50%;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 40px;
  }
}

.row_block--split {
  width: 50%;
  padding: 0 5px;
}

.spacing > * + * {
  margin-top: 10px;
}

@media (min-width: 750px) {
  .spacing > * + * {
    margin-top: 15px;
  }
}

.spacing-top {
  margin-top: 10px;
}

@media (min-width: 750px) {
  .spacing-top {
    margin-top: 15px;
  }
}

.spacing--half > * + * {
  margin-top: 5px;
}

@media (min-width: 750px) {
  .spacing--half > * + * {
    margin-top: 7.5px;
  }
}

.spacing--double > * + * {
  margin-top: 20px;
}

@media (min-width: 750px) {
  .spacing--double > * + * {
    margin-top: 30px;
  }
}

.spacing-top--double {
  margin-top: 20px;
}

@media (min-width: 750px) {
  .spacing-top--double {
    margin-top: 30px;
  }
}

.spacing--triple > * + * {
  margin-top: 30px;
}

@media (min-width: 750px) {
  .spacing--triple > * + * {
    margin-top: 45px;
  }
}

.icon_menu {
  height: 100%;
  width: 20px;
  cursor: pointer;
}

.icon_menu path {
  fill: #fff;
}

header {
  padding: 10px 0;
  width: 100%;
  background-color: #191d20;
}

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_logo {
  width: 25px;
}

@media (min-width: 750px) {
  .site_logo {
    width: 40px;
  }
}

.site_tagline {
  padding-left: 5px;
}

@media (min-width: 750px) {
  .site_tagline {
    padding-left: 10px;
  }
}

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav_list {
  list-style: none;
  padding: 0 10px;
}

.nav_link {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #616666;
}

.nav_link:hover {
  color: #fff;
}

footer {
  background-color: #191d20;
}

footer a {
  color: #BB9C00;
}

.copyright {
  color: #616666;
  text-align: center;
}

@media (min-width: 750px) {
  .copyright {
    text-align: left;
  }
}

.hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero--home {
  position: relative;
  height: 100%;
}

.hero_content {
  width: 100%;
}

.hero_content--center {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 750px) {
  .hero_content {
    width: 50%;
  }
  .hero_content--left {
    float: left;
  }
  .hero_content--right {
    float: right;
  }
  .hero_content--center {
    margin: 0 auto;
    text-align: center;
  }
}

.hero_image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media (min-width: 750px) {
  .hero_image {
    display: block;
    width: 100%;
  }
}

.hero_heading {
  width: 100%;
}

.hero_title {
  color: #fff;
}

.hero_body {
  color: #fff;
}

.hero_body--home {
  color: #8F8F8F;
}

.work {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.band {
  border-bottom: 1px solid #f2f2f4;
  background: #fff;
  overflow: hidden;
  position: relative;
  transition: 1s ease-in-out;
  background-size: cover;
  background-position: center, center;
  color: #fff;
  height: 100%;
}

.band:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 29, 32, 0.5);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  transition: width 200ms ease-in-out;
  z-index: 1;
}

.band:hover .band_title {
  opacity: 1;
}

.band:hover .band_desc {
  opacity: 0.8;
}

.band:hover:after {
  background-color: rgba(25, 29, 32, 0);
}

.band_inner {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
  z-index: 2;
}

@media (min-width: 750px) {
  .band_inner {
    height: 100%;
  }
}

.band_inner--even {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.band_inner--odd {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.band_content {
  width: 80%;
}

@media (min-width: 750px) {
  .band_content {
    width: 40%;
  }
}

.band_title {
  color: #fff;
  opacity: .5;
}

.band_desc {
  color: rgba(76, 76, 76, 0.7);
}

.btn a {
  display: inline-block;
  padding: 10px 20px;
}

.btn--primary a {
  border: 1px solid #F1C40F;
  color: #fff;
  background-color: transparent;
}

.btn--secondary a {
  border: 1px solid #F1C40F;
  background-color: #F1C40F;
  color: #000;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.toggle {
  cursor: pointer;
}

.transition {
  transition: all 100ms ease-in-out;
}

.bottom-border {
  border-bottom: 1px solid #e2e2e2;
}

.hide-small {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-small {
    display: block;
  }
}

.hide-large {
  display: block;
}

@media screen and (min-width: 768px) {
  .hide-large {
    display: none;
  }
}

.hide-small-to-medium {
  display: none;
}

@media screen and (min-width: 1024px) {
  .hide-small-to-medium {
    display: block;
  }
}

.trigger {
  cursor: pointer;
}

.hide {
  display: none;
}

.column-extend-full {
  position: relative;
}

.column-extend-full:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  display: block;
  left: -10%;
  z-index: -1;
}

[class^="show-at"] {
  display: none;
}

.show-at-small {
  display: block;
}

@media (min-width: 750px) {
  .show-at-small {
    display: none;
  }
}

.show-at-large {
  display: none;
}

@media (min-width: 750px) {
  .show-at-large {
    display: block;
  }
}
