/*
*************************************************

Screen Styles

Created by Paul Phan
http://www.MrPaulPhan.com/

*************************************************
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color  */
/* Border */
/* Size */
/* Fonts */
.work {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.band {
  border-bottom: 1px solid #f1f1f1;
}

.band_inner {
  text-decoration: none;
  color: inherit;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.toggle {
  cursor: pointer;
}

.transition {
  transition: all 100ms ease-in-out;
}

.bottom-border {
  border-bottom: 1px solid #e2e2e2;
}

.hide-small {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-small {
    display: block;
  }
}

.hide-large {
  display: block;
}

@media screen and (min-width: 768px) {
  .hide-large {
    display: none;
  }
}

.hide-small-to-medium {
  display: none;
}

@media screen and (min-width: 1024px) {
  .hide-small-to-medium {
    display: block;
  }
}

.trigger {
  cursor: pointer;
}

.hide {
  display: none;
}

.column-extend-full {
  position: relative;
}

.column-extend-full:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  display: block;
  left: -10%;
  z-index: -1;
}

[class^="show-at"] {
  display: none;
}

/*
.show-at-small {
    display: block;
    @include breakpoint($q-large) {
        display: none;
    }
}

@include breakpoint($q-large) {
    .show-at-large {
        display: block;
    }
    .show-at-large-inline {
        display: inline;
    }
}
 */
